/* CSS para estilos iniciais */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.exercicio {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}
#quadrado {
    width: 100px;
    height: 100px;
    background-color: gray;
}
#retangulo {
    width: 200px;
    height: 100px;
    background-color: blue;
}
#circulo {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
}
#quadrado1, #quadrado2, #quadrado3 {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 10px;
}
#paragrafo {
    background-color: lightgray;
    padding: 10px;
}
#banner {
    width: 100%;
    height: 100px;
    background-color: white;
}
#triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
}
#circulo-ex8 {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
#quadrado-ex8 {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}
#titulo {
    color: black;
}
#div1, #div2, #div3, #div4, #div5 {
    width: 50px;
    height: 50px;
    background-color: gray;
    display: inline-block;
    margin-right: 10px;
}
#div-ex11 {
    background-color: pink;
    padding: 10px;
}
#paragrafo-ex11 {
    color: black;
}
#oval {
    width: 200px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
}